<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title>Inicio</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-menu-toggle>
        <ion-item button="true" detail="true" (click)="medicacion()">
        <ion-label class="normal">Agregar medicamentos</ion-label>
        <ion-icon slot="start" name="add"></ion-icon>
      </ion-item>
      <ion-item button="true" detail="true" (click)="cerrar()">
        <ion-label class="normal">Salir</ion-label>
        <ion-icon slot="start" name="exit"></ion-icon>
      </ion-item>
      </ion-menu-toggle>
      
    </ion-content>
  </ion-menu>

<ion-content>
  <ion-card color="primary">
    <ion-card-header>
      <ion-card-title>
        <ion-list *ngIf="info">
          <ion-label>Bienvenido/a {{info.nombre}} {{info.apellido}}</ion-label>
        </ion-list>
      </ion-card-title>
    </ion-card-header>
  </ion-card>


</ion-content>

<ion-tabs>
  <ion-router-outlet></ion-router-outlet>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="directorio">
      <ion-icon name="people-sharp"></ion-icon>
      Pacientes
    </ion-tab-button>
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="historial">
      <ion-icon name="folder-open-sharp"></ion-icon>
      Historial
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>