<ion-header>
  <ion-toolbar color="principal">
    <ion-title>Citas</ion-title>
    <ion-button  fill="clear" slot="start" [routerLink]="['/home']"><ion-icon
        name="arrow-back-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content class="ion-padding" >
    <ion-item-group *ngIf="citas" class="custom-list">
      <ion-item color="relleno" *ngFor="let cita of citas" color="light">
        <ion-label>
          <h2 class="normal">Dr. {{cita.doctor}}</h2>
          <h4 class="pequeña"><b>Especialidad: </b> {{cita.especialidad}}</h4>
          <h4 class="pequeña"><b>Estado: </b> {{cita.estado}}</h4>
          <h4 class="pequeña"><b>Fecha: </b> {{cita.fecha}}</h4>
          <h4 class="pequeña"><b>Hora: </b>{{cita.hora}}</h4>
        </ion-label>
        <ion-buttons slot="end">
          <ion-button (click)="delete(cita)">
            <ion-icon slot="icon-only" name="trash-outline" color="danger"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-item-group>
  </ion-content>
</ion-content>