<ion-app>
  <ion-split-pane contentId="main">
    <ion-menu contentId="main" menuId="main">
      <ion-header>
        <ion-toolbar>
          <ion-title class="subtitulo">Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content >
        <ion-menu-toggle>
          <ion-item-group *ngIf="pages">
            <ion-list>
              <ion-item *ngFor="let p on pages">
                <ion-button (click)="openPage(p.page)" expand="block" fill="clear" shape="round">
                <ion-icon slot="start" name="p.icon"></ion-icon>
                {{p.tittle}}
                </ion-button>
              </ion-item>
            </ion-list>
          </ion-item-group>
          
          <ion-footer>
            <ion-toolbar>
              <ion-button (click)="logout()">
                <ion-icon slot="start" name="sign-out"></ion-icon>
                Cerrar sesion
              </ion-button>
            </ion-toolbar>
          </ion-footer>

        </ion-menu-toggle>
      </ion-content>

    </ion-menu>
    <ion-router-outlet id="main"></ion-router-outlet>
  </ion-split-pane>

</ion-app>
