<ion-card>
  <ion-item class="normal"><label class="pequeña">Nombre: {{reporte.nombre}} </label></ion-item>
  <ion-item class="pequeña"><label class="pequeña">Identificador: {{reporte.identificador}}</label></ion-item>
  <ion-item class="pequeña"><label class="pequeña">Edad: {{reporte.edad}}</label></ion-item>
  <ion-item class="pequeña"><label class="pequeña">Peso: {{reporte.peso}}</label></ion-item>
  <ion-item class="pequeña"><label class="pequeña">Altura: {{reporte.altura}}</label></ion-item>
  <ion-item class="normal"><label class="pequeña">Medicamentos: {{reporte.medicamentos}}</label></ion-item>
  <ion-item class="pequeña"><label class="pequeña">Condicion medica: {{reporte.condicion}}</label></ion-item>
</ion-card>
