.custom-card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px;
    padding: 20px;
  }
  
  .custom-label {
    font-weight: bold;
    margin-right: 10px;
  }
  
  .normal {
    font-size: 1.2em;
    font-weight: bold;
  }
  
  .pequeña {
    font-size: 1em;
    color: #666666;
  }
  