<ion-card class="custom-card" >
    <ion-item class="normal"><label class="custom-label">Nombre:</label> {{reporte.nombre}}</ion-item>
    <!-- <ion-item class="pequeña"><label class="custom-label">Identificador:</label> {{reporte.idpaciente}}</ion-item> -->
    <ion-item class="pequeña"><label class="custom-label">Edad:</label> {{reporte.edad}}</ion-item>
    <ion-item class="pequeña"><label class="custom-label">Peso (Lbs):</label> {{reporte.peso}}</ion-item>
    <ion-item class="pequeña"><label class="custom-label">Estatura (M):</label> {{reporte.altura}}</ion-item>
    <ion-item class="pequeña"><label class="custom-label">Medicamentos:</label> {{reporte.medicamentos}}</ion-item>
    <ion-item class="pequeña"><label class="custom-label">Condición médica:</label> {{reporte.condicion}}</ion-item>
</ion-card>
