ion-card {
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  ion-card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  ion-item {
    margin-bottom: 15px;
  }
  
  ion-label {
    font-size: 18px;
  }
  
  ion-input {
    font-size: 18px;
    border-radius: 5px;
    padding: 10px;
  }
  
  ion-button {
    margin-top: 20px;
  }
  