<ion-header>
  <ion-toolbar color="primary">
    <ion-title></ion-title>
    <ion-button fill="clear" slot="start">
      <ion-back-button color="light" ></ion-back-button>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Registro</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="formularioregistrod" (ngSubmit)="registrarse()">
        <ion-item fill="solid">
          <ion-label position="floating">Nombre <ion-text color="danger">*</ion-text></ion-label>
          <ion-input placeholder="Ingrese su Nombre" required formControlName="nombre" type="text"></ion-input>
        </ion-item>
        <ion-item><ion-label><hr class="solid"></ion-label></ion-item>
        <ion-item fill="solid">
          <ion-label position="floating">Apellido <ion-text color="danger">*</ion-text></ion-label>
          <ion-input placeholder="Ingrese su Apellido" required formControlName="apellido" type="text"></ion-input>
        </ion-item>
        <ion-item><ion-label><hr class="solid"></ion-label></ion-item>
        <ion-item fill="solid">
          <ion-label position="floating">Cédula<ion-text color="danger">*</ion-text></ion-label>
          <ion-input  placeholder="Ingrese su Numero de Cédula" required formControlName="cedula" type="text"></ion-input>
        </ion-item>
        <ion-item><ion-label><hr class="solid"></ion-label></ion-item>
        <ion-item fill="solid">
          <ion-label position="floating">Especialidad<ion-text color="danger">*</ion-text></ion-label>
            <ion-select formControlName="especialidad" interface="popover" placeholder="Selecciona especialidad">
              <ion-select-option *ngFor="let especialidad of especialidades" [value]="especialidad.especialidad">{{especialidad.especialidad}}</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item><ion-label><hr class="solid"></ion-label></ion-item>
        <ion-item fill="solid">
          <ion-label position="floating">Correo electronico <ion-text color="danger">*</ion-text></ion-label>
          <ion-input placeholder="Ingrese su Correo electronico" required formControlName="correo" type="text"></ion-input>
        </ion-item>
        <ion-item><ion-label><hr class="solid"></ion-label></ion-item>
        <ion-item fill="solid">
          <ion-label position="floating">Contraseña <ion-text color="danger">*</ion-text></ion-label>
          <ion-input placeholder="Ingrese su Contraseña" required formControlName="contraseña" type="password" minlength= 6></ion-input>
        </ion-item>
        <ion-item><ion-label><hr class="solid"></ion-label></ion-item>
        <ion-button block position="Centered" color="primary" type="submit">
          Aceptar
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>

</ion-content>
