<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding" overflow-scroll="true">
  <ion-item-group *ngIf="drugs">
    <ion-item-divider>
      <ion-label>
        <h1>
          Medicamentos
        </h1>
      </ion-label>
    </ion-item-divider>
    <ion-item *ngFor="let drug of drugs">
      <ion-item>
        <ion-label>
          <h3><b>Medicina:</b> {{drug.medicamento}}</h3>
          <h4> <b>Hora:</b> {{drug.hora}}</h4>
        </ion-label>
      </ion-item>
    </ion-item>
  </ion-item-group>


  <ion-item-group *ngIf="dates">
    <ion-item-divider>
      <ion-label>
        <h1>
          Proximas citas
        </h1>
      </ion-label>
    </ion-item-divider>
    <ion-item *ngFor="let date of dates"> 
      <ion-item>
        <ion-label>
          <h3><b>Especialidad:</b> {{date.especialidad}} </h3>
          <h4> <b>Doctor:</b> {{date.doctor}}</h4>
          <h4> <b>Fecha:</b> {{date.fecha}}</h4>
          <h4> <b>Hora:</b> {{date.hora}}</h4>
        </ion-label>
      </ion-item>
    </ion-item>
  </ion-item-group>
</ion-content>