.doctor-divider {
    padding: 0 16px;
  }
  
  .doctor-item {
    border-radius: 16px;
    border: 1px solid #ccc;
    margin-bottom: 16px;
  }
  
  .doctor-name {
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: bold;
  }
  
  .doctor-fab {
    margin-right: 16px;
  }
  