<ion-header>
  <ion-toolbar color="principal">
    <ion-title>Medicamentos</ion-title>
    <ion-button color="blanco" fill="clear" slot="start" [routerLink]="['/home']"><ion-icon
        name="arrow-back-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item-group *ngIf="drugs" class="custom-list">
      <ion-item *ngFor="let drug of drugs" class="custom-item">
        <ion-label>
          <p class="normal"><b>Medicamento: </b>{{drug.medicamento}}</p>
          <p class="time"><b>Hora: </b>{{drug.hora}}</p>
        </ion-label>
        <ion-buttons slot="end">
          <ion-button (click)="delete(drug)" color="danger">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>
