<ion-header>
  <ion-toolbar color="principal">
    <ion-title>Medicacion</ion-title>
    <ion-button color="blanco" fill="clear" slot="start" [routerLink]="['/home']"><ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="medicamentoform" (ngSubmit)="ingresar()">
    <ion-item>
      <ion-label position="floating">Medicamento <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required formControlName="medicamento" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Fecha <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required value="number" formControlName="cdias" type="date"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Hora <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required value="number" formControlName="hora" type="time"></ion-input>
    </ion-item>
    <ion-button block color="secundario" type="submit">
      Aceptar
    </ion-button>
  </form>
</ion-content>