<ion-header>
  <ion-toolbar color="principal">
    <ion-title>Medicacion</ion-title>
    <ion-button color="blanco" fill="clear" slot="start" [routerLink]="['/home']"><ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <h1 class="titulo">Ingresar Medicamento</h1>
    <form [formGroup]="medicamentoform" (ngSubmit)="ingresar()" class="formulario">
      <ion-item>
        <ion-label position="stacked">Medicamento <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required formControlName="medicamento" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Fecha <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required formControlName="cdias" type="date"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Hora <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required formControlName="hora" type="time"></ion-input>
      </ion-item>
      <div class="botones">
        <ion-button color="secondary" expand="block" type="submit">
          Aceptar
        </ion-button>
        <ion-button color="light" expand="block" type="reset">
          Cancelar
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>
