<ion-header>
  <ion-toolbar color="principal">
    <ion-title>Agendar Citas</ion-title>
    <ion-button  fill="clear" slot="start" [routerLink]="['/home']"><ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="form-container">
    <h2 class="titulo">Nueva cita</h2>
    <form [formGroup]="acitasform" (ngSubmit)="agregar()">
      <ion-item>
        <ion-label position="stacked">Doctor <ion-text color="danger">*</ion-text></ion-label>
        <ion-select formControlName="doctor" interface="popover" placeholder="Selecciona Doctor">
          <ion-select-option *ngFor="let doctor of infodoctor" [value]="doctor.uid">{{doctor.nombre}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Fecha <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required formControlName="fecha" type="date"></ion-input>
      </ion-item>  
      <ion-item>
        <ion-label position="stacked">Hora <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required formControlName="hora" type="time"></ion-input>
      </ion-item>
      <div class="botones">
        <ion-button color="secondary" expand="block" type="submit">
          Aceptar
        </ion-button>
        <ion-button color="light" expand="block" type="reset" [routerLink]="['/home']">
          Cancelar
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>

<style>
  .form-container {
    max-width: 400px;
    margin: auto;
  }
  
  .form-title {
    font-size: 24px;
    margin-bottom: 16px;
  }
  
  ion-item {
    margin-bottom: 16px;
  }
</style>
