<ion-header>
  <ion-toolbar color="principal">
    <ion-title>Agendar Citas</ion-title>
    <ion-button color="blanco" fill="clear" slot="start" [routerLink]="['/home']"><ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="acitasform" (ngSubmit)="agregar()">
    <ion-item>
      <ion-label position="floating">Doctor <ion-text color="danger">*</ion-text></ion-label>
      <ion-select formControlName="doctor" interface="popover" placeholder="Selecciona Doctor">
        <ion-select-option *ngFor="let doctor of infodoctor" [value]="doctor.uid">{{doctor.nombre}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Fecha <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required value="number" formControlName="fecha" type="date"></ion-input>
    </ion-item>  
    <ion-item>
      <ion-label position="floating">Hora <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required value="number" formControlName="hora" type="time"></ion-input>
    </ion-item>
    <ion-button block color="secundario" type="submit">
      Aceptar
    </ion-button>
  </form>

</ion-content>
