<ion-header>
  <ion-toolbar color="principal">
    <ion-title>Home</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="blanco">

  <!-- <ion-fab slot="fixed" vertical="top" horizontal="end">
    <ion-fab-button size="small">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button>
        <ion-icon name="document"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="color-palette"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="globe"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-card color="medium">
    <ion-card-header>
      <ion-card-title>Proximas citas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item color="medium">
          <ion-label>"Paciente: "</ion-label>
        </ion-item>
        <ion-item color="medium">
          <ion-label>"Fecha: "</ion-label>
        </ion-item>
        <ion-item color="medium">
          <ion-label>"Hora: "</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card> -->
  <ion-item-group *ngIf="dates">
    <ion-item-divider color="blanco">
      <ion-label>
        <h1>
          Proximas citas
        </h1>
      </ion-label>
    </ion-item-divider>
    <ion-item *ngFor="let date of dates" color="blanco">
      <ion-item color="blanco">
        <ion-label>
          <h4> <b>Paciente:</b> {{date.paciente}}</h4>
          <h4> <b>Fecha:</b> {{date.fecha}}</h4>
          <h4> <b>Hora:</b> {{date.hora}}</h4>
        </ion-label>
      </ion-item>
    </ion-item>
  </ion-item-group>
</ion-content>