<ion-header>
  <ion-toolbar color="principal">
    <ion-title>Home</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding custom-content">

  <ion-item-group *ngIf="dates">
    <ion-item-divider class="custom-divider">
      <ion-label class="subtitle p-3 header">
        <h1>Próximas citas</h1>
      </ion-label>
    </ion-item-divider>

    <ion-card *ngFor="let date of dates" class="custom-card">
      <ion-card-header>
        <ion-card-title class="normal">{{date.especialidad}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <h4><b>Doctor:</b> {{date.doctor}}</h4>
        <h4><b>Paciente:</b> {{date.paciente}}</h4>
        <h4><b>Fecha:</b> {{date.fecha}}</h4>
        <h4><b>Hora:</b> {{date.hora}}</h4>
      </ion-card-content>
    </ion-card>
  </ion-item-group>

</ion-content>
