<ion-header>
  <ion-toolbar color="principal">
    <ion-title></ion-title>
    <ion-button color="blanco" fill="clear" slot="start" [routerLink]="['/home']"><ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content  class="ion-padding" overflow-scroll="true">
  <ion-item-group *ngIf="historiales">
    <ion-item-divider color="secundario">
      <ion-label>
        <h1 class="historial-header">
          Historial clínico
        </h1>
      </ion-label>
    </ion-item-divider>
    <ion-item  *ngFor="let historial of historiales" class="historial-item">
      <ion-item >
        <ion-label class="historial-label ion-text-wrap">
          <h2><b>Especialidad:</b> {{historial.especialidad}}</h2>
          <h3><b>Doctor:</b> {{historial.doctorname}}</h3>
          <h4><b>Condición:</b> {{historial.condicion}}</h4>
          <h4><b>Medicamentos:</b> {{historial.medicamentos}}</h4>
        </ion-label>
      </ion-item>
      <br> <!-- agregar un poco de margen inferior -->
    </ion-item>
  </ion-item-group>
</ion-content>
