ion-item {
    --padding-start: 16px;
  }
  
  .historial-header {
    font-size: 28px;
    margin-bottom: 12px;
  }
  
  .historial-label {
    font-size: 18px;
  }
  
  .historial-item {
    margin-bottom: 16px;
  }