/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;1,200;1,400&display=swap');

:root {
	--ion-color-principal: #283149;
	--ion-color-principal-rgb: 40,49,73;
	--ion-color-principal-contrast: #ffffff;
	--ion-color-principal-contrast-rgb: 255,255,255;
	--ion-color-principal-shade: #232b40;
	--ion-color-principal-tint: #3e465b;
  
  .ion-color-principal {
    --ion-color-base: var(--ion-color-principal);
    --ion-color-base-rgb: var(--ion-color-principal-rgb);
    --ion-color-contrast: var(--ion-color-principal-contrast);
    --ion-color-contrast-rgb: var(--ion-color-principal-contrast-rgb);
    --ion-color-shade: var(--ion-color-principal-shade);
    --ion-color-tint: var(--ion-color-principal-tint);
  }

	--ion-color-secundario: #19376D;
	--ion-color-secundario-rgb: 25,55,109;
	--ion-color-secundario-contrast: #ffffff;
	--ion-color-secundario-contrast-rgb: 255,255,255;
	--ion-color-secundario-shade: #163060;
	--ion-color-secundario-tint: #304b7c;

  .ion-color-secundario {
    --ion-color-base: var(--ion-color-secundario);
    --ion-color-base-rgb: var(--ion-color-secundario-rgb);
    --ion-color-contrast: var(--ion-color-secundario-contrast);
    --ion-color-contrast-rgb: var(--ion-color-secundario-contrast-rgb);
    --ion-color-shade: var(--ion-color-secundario-shade);
    --ion-color-tint: var(--ion-color-secundario-tint);
  }

	--ion-color-fondo: #DBEDF3;
	--ion-color-fondo-rgb: 219,237,243;
	--ion-color-fondo-contrast: #000000;
	--ion-color-fondo-contrast-rgb: 0,0,0;
	--ion-color-fondo-shade: #c1d1d6;
	--ion-color-fondo-tint: #dfeff4;

  .ion-color-fondo {
    --ion-color-base: var(--ion-color-fondo);
    --ion-color-base-rgb: var(--ion-color-fondo-rgb);
    --ion-color-contrast: var(--ion-color-fondo-contrast);
    --ion-color-contrast-rgb: var(--ion-color-fondo-contrast-rgb);
    --ion-color-shade: var(--ion-color-fondo-shade);
    --ion-color-tint: var(--ion-color-fondo-tint);
  }

	--ion-color-relleno: #98B5D6;
	--ion-color-relleno-rgb: 152,181,214;
	--ion-color-relleno-contrast: #000000;
	--ion-color-relleno-contrast-rgb: 0,0,0;
	--ion-color-relleno-shade: #869fbc;
	--ion-color-relleno-tint: #a2bcda;

  .ion-color-relleno {
    --ion-color-base: var(--ion-color-relleno);
    --ion-color-base-rgb: var(--ion-color-relleno-rgb);
    --ion-color-contrast: var(--ion-color-relleno-contrast);
    --ion-color-contrast-rgb: var(--ion-color-relleno-contrast-rgb);
    --ion-color-shade: var(--ion-color-relleno-shade);
    --ion-color-tint: var(--ion-color-relleno-tint);
  }

  --ion-color-blanco: #f0eef2;
	--ion-color-blanco-rgb: 240,238,242;
	--ion-color-blanco-contrast: #000000;
	--ion-color-blanco-contrast-rgb: 0,0,0;
	--ion-color-blanco-shade: #d3d1d5;
	--ion-color-blanco-tint: #f2f0f3;

  .ion-color-blanco {
    --ion-color-base: var(--ion-color-blanco);
    --ion-color-base-rgb: var(--ion-color-blanco-rgb);
    --ion-color-contrast: var(--ion-color-blanco-contrast);
    --ion-color-contrast-rgb: var(--ion-color-blanco-contrast-rgb);
    --ion-color-shade: var(--ion-color-blanco-shade);
    --ion-color-tint: var(--ion-color-blanco-tint);
  }
}

.titulo{
  font-family: 'Raleway', sans-serif !important;
  font-size: 24px;
  font-weight: bold;
  color: #0e98c8;
}
.subtitulo{
  font-family: 'Raleway', sans-serif !important;
  font-size: 18px;
  font-weight: bold;
}
.normal{
  font-family: 'Raleway', sans-serif !important;
  font-size: 14px;
  color: black;
}
.normal1{
  font-family: 'Raleway', sans-serif !important;
  font-size: 14px;
  color: white;
}

.pequeña{
  font-family: 'Raleway', sans-serif !important;
  font-size: 11px;
  justify-content: center;
  color: black;
}



.custom-list ion-item {
  background-color: #333;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  margin-bottom: 16px;
  padding: 16px;
}

.custom-list ion-label h2 {
  font-size: 24px;
  margin-bottom: 8px;
}

.custom-list ion-label h4 {
  font-size: 16px;
  margin-bottom: 4px;
}

.custom-list ion-button {
  color: #fff;
}


.custom-content {
  background-color: #f9f9f9;
}

.custom-divider {
  border-color: #c0c0c0;
}

.custom-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

.custom-card .normal {
  font-weight: bold;
  margin-bottom: 5px;
}

.custom-card ion-card-content {
  margin: 10px;
}


