<ion-header>
  <ion-toolbar color="principal">
    <ion-title>MedMate</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="login-card">
    <ion-card-content class="login-card-content">
      <form [formGroup]="formulariologin">
        <ion-item class="login-item">
          <ion-label color="Contraste" position="floating" for="username">Usuario</ion-label>
          <ion-input id="username" autofocus="on" clearInput="true" clearOnEdit="true" inputmode="text" placeholder="Ingrese su Usuario" required="true" formControlName="user" color="Contraste" ></ion-input>
          <ion-icon name="person" color="Contraste" slot="start" class="ion-align-self-center" ></ion-icon>
        </ion-item>

        <ion-item class="login-item">
          <ion-label color="Contraste" position="floating" for="password">Contraseña</ion-label>
          <ion-input id="password" placeholder="Ingrese su Contraseña" required="true" formControlName="password" type="password" color="Contraste" ></ion-input>
          <ion-icon name="lock-closed" color="Contraste" slot="start" class="ion-align-self-center" ></ion-icon>
        </ion-item>
        
      </form>

      <br>

      <ion-row class="login-row"></ion-row>

      <!-- <ion-item><ion-label><hr class="solid"></ion-label></ion-item> -->

      <ion-button  class="login-button" expand="block"  (click)="ingresar()">
        Ingresar
      </ion-button>

      <ion-row class="login-row"></ion-row>

      <h3 class="login-header">¿Desea crear una cuenta?</h3>

      <ion-button shape="round" color="dark" expand="block" [routerLink]="['/rpaciente']">
        Crear cuenta como Paciente
      </ion-button>

      <ion-row class="login-row"></ion-row>

      <ion-button shape="round" color="dark" expand="block" [routerLink]="['/rdoctor']">
        Crear cuenta como Doctor
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

