<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header color="medium">
     
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="formulariologin">
        <ion-item>
          <ion-label color="primary" position="floating">Usuario</ion-label>
          <ion-input autofocus="on" clearInput="true" clearOnEdit="true" inputmode="text" placeholder="Ingrese su Usuario" required="true" formControlName="user"></ion-input>
          <ion-icon name="person" color="primary" slot="start"></ion-icon>
        </ion-item>
      <ion-item>
        <ion-label color="primary" position="floating">Contraseña</ion-label>
        <ion-input placeholder="Ingrese su Contraseña" required="true" formControlName="password" type="password"></ion-input>
        <ion-icon name="Keypad-Outline" color="primary" slot="start"></ion-icon>
      </ion-item>

    </form>
<br>
    <ion-item>
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-label>Recuerdame </ion-label>  
    </ion-item>

    <ion-item><ion-label><hr class="solid"></ion-label></ion-item>

    <ion-button  color="primary" expand="block"  (click)="ingresar()">
      Ingresar
    </ion-button>

    <ion-button  color="primary" expand="block" [routerLink]="['/registro']">
      Registrarse
    </ion-button>


    <ion-item><ion-label><hr class="solid"></ion-label></ion-item>

    </ion-card-content>
  </ion-card>
   
</ion-content>


