<ion-header>
  <ion-toolbar color="principal">
    <ion-title>Perfil</ion-title>
    <ion-button color="blanco" fill="clear" slot="start" [routerLink]="['/homed']"><ion-icon
        name="arrow-back-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="form-container">
    <h2 class="titulo">Editar perfil</h2>
    <ion-list *ngIf="perfildoctor">
      <ion-item>
        <ion-label>
          {{perfildoctor.nombre}}
        </ion-label>
        <ion-icon slot="end" name="create" (click)="presentAlertPrompt('nombre')"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label>
          {{perfildoctor.apellido}}
        </ion-label>
        <ion-icon slot="end" name="create" (click)="presentAlertPrompt('apellido')"></ion-icon>
      </ion-item>

    </ion-list>
  </div>

</ion-content>