<ion-header>
  <ion-toolbar color="primary">
    <ion-button  slot="start" [routerLink]="['/login']">
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-tabs>
  <ion-router-outlet></ion-router-outlet>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="Pacientes">
      <ion-icon name="people-sharp"></ion-icon>
      Pacientes
    </ion-tab-button>
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      Home
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>