<ion-header>
  <ion-toolbar color="principal">
    <ion-title>Citas</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding"  *ngIf="dates">
  <ion-item-group  *ngFor="let date of dates">
    <ion-item-divider  class="divider">
      <ion-item>
        <ion-label position="fixed">Estado:</ion-label>
        <ion-select (ionChange)="Cambio(date, $event)" interface="action-sheet"  justify="space-between" placeholder="{{date.estado}}">
          <ion-select-option *ngFor="let estado of estados" [value]="estado">{{estado}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-item-divider>
    <ion-item class="item" >
      <ion-item>
        <ion-label>
          <h4> <b>Paciente:</b> {{date.paciente}}</h4>
          <h4> <b>Fecha:</b> {{date.fecha}}</h4>
          <h4> <b>Hora:</b> {{date.hora}}</h4>
          <h4> <b>Estado:</b> {{date.estado}}</h4>
        </ion-label>
      </ion-item>
    </ion-item>
  </ion-item-group>
</ion-content>

